@import "./../../lib/lakansyel"

.adjust_hue-zero
    color: adjust_hue( #d87240, 0 ) // should be #d87240

.adjust_hue-60
    color: adjust_hue( #d87240, 60deg ) // should be #a6d840

.adjust_hue-120
    color: adjust_hue( #d87240, 120deg ) // should be #40d872

.adjust_hue-180
    color: adjust_hue( #d87240, 180deg ) // should be #40a6d8

.adjust_hue-240
    color: adjust_hue( #d87240, 240deg ) // should be #7240d8

.adjust_hue-300
    color: adjust_hue( #d87240, 300deg ) // should be #d840a6

.adjust_hue-32
    color: adjust_hue( #d87240, 32deg ) // should be #d8c340

