@import "./../../lib/lakansyel"

.red-complement
    color complement( #f00 )

.blue-complement
    color complement( #00f )

.green-complement
    color complement( #0f0 )

.yellow-complement
    color complement( #ff0 )

.black-complement
    color complement( #000 )
