@import "./../../lib/lakansyel"

.random-one-grayscale
    color grayscale( #d87240 ) // should be #8c8c8c

.random-two-grayscale
    color grayscale( #fd0cc7 ) // should be #858585

.random-three-grayscale
    color grayscale( #ef385c ) // should be #939393

.random-four-grayscale
    color grayscale( #71cc4d ) // should be #8d8d8d

.random-five-grayscale
    color grayscale( #699d9e ) // should be #848484

.random-six-grayscale
    color grayscale( #51b674 ) // should be #848484
