@import "./../../lib/lakansyel"

.random-one-shade
    color: shade( #d87240, 12% ) // should be #be6438

.random-two-shade
    color: shade( #fd0cc7, 37% ) // should be #9f077d

.random-three-shade
    color: shade( #ef385c, 76% ) // should be #390d16

.random-four-shade
    color: shade( #71cc4d, 97% ) // should be #030602

.random-five-shade
    color: shade( #699d9e, 23% ) // should be #507879

.random-six-shade
    color: shade( #51b674, 54% ) // should be #255335
