@import "./../../lib/lakansyel"

.random-one-tint
    color: tint( #d87240, 12% ) // should be #dc8256

.random-two-tint
    color: tint( #fd0cc7, 37% ) // should be #fd65db

.random-three-tint
    color: tint( #ef385c, 76% ) // should be #fbcfd7

.random-four-tint
    color: tint( #71cc4d, 97% ) // should be #fafdf9

.random-five-tint
    color: tint( #699d9e, 23% ) // should be #8bb3b4

.random-six-tint
    color: tint( #51b674, 54% ) // should be #aeddbf
