@import "../../"

body
    background red
    background #f00
    background rgb( 255, 0, 0 )
    background rgba( 255, 0, 0, .5 )
    background rgba( 255, 0, 0, 1 )
    background hsla( 0, 100%, 50%, .5 )
    background hsla( 0, 100%, 50%, 1 )

body
    background rgba( 202, 43, 120, .5 )
    background hsla( 63, 83%, 68%, .5 )

css3-colors-fallback = true

body
    background rgba( 255, 0, 0, .5 )
    color hsla( 0, 100%, 50%, .5 )

body
    background rgba( 202, 43, 120, .5 )
    color hsla( 63, 83%, 68%, .5 )

body
    background rgba( 202, 43, 120, 1 )
    color hsla( 63, 83%, 68%, 1 )

body
    background rgba( 202, 43, 120, .5 ) url( test.png ) top left repeat
