body {
  lum: 0.6480927881262115;
  lum: 0.6480927881262115;
  lum: 0.10856632570372855;
  lum: 0.16258071847516453;
  lum: 0.20152448380143806;
  lum: 0.20152448380143806;
  lum: 0.9278;
  lum: 0.724628237519388;
  lum: 0.5110953861223078;
  lum: 0.09593873592344121;
  lum: 0.6444573127493376;
  lum: 0.2126;
  lum: 0.09593873592344121;
  lum: 0.04699714583486273;
  lum: 0.6080288233576447;
  lum: 0.9278;
  lum: 0.6480927881262115;
  lum: 0.6444573127493376;
  lum: 0.16258071847516453;
  lum: 0.10856632570372855;
  lum: 0.10856632570372855;
  lum: 0.04699714583486273;
  lum: 0.04699714583486273;
  lum: 0.27142098958042105;
  lum: 0.6444573127493376;
  lum: 0.27142098958042105;
  lum: 0.9278;
  lum: 0.9278;
  lum: 0.6080288233576447;
  lum: 0.10856632570372855;
}
